* { padding:0; margin: 0; box-sizing: border-box; background: no-repeat 0 0; background-size: 100% auto; background-position: center; font-size: inherit; font-weight: normal; font-style: normal; text-decoration: none; line-height: inherit; font-family: microsoft yahei; }
body {background: #393091;}
.app {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    /*background-color: #3A3091;*/
    background-color: #393091;
}
.app>* {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.load {
    background-image: url(../img/load-bg.png);
}
.load center {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    margin-top: 22%;
}
.load h6 {
    font-size: 1.8em;
    font-family: 'microsoft yahei';
    font-weight: bold;
    letter-spacing: 0.09em;
    color: #52DBC7;
}
.load h6 q {
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    text-align: left;
    margin-left: 0.23em;
}
q {
    quotes: none;
}
.load h6 q span {
    -webkit-animation: ani-load1 0.8s linear infinite both;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 25px;
}
footer p {
    color: #D67C9C;
    text-align: center;
    font-size: 0.8em;
}
.s1 {
    background-image: url(../img/s1-bg.png);
}
.s1 center {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: 23.8%;
}
.s1 center h4 {
    display: inline-block;
    width: 9em;
    height: 3.5em;    
}
.s1 center h4 a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../img/s1-btn1.png);
}
.s1 center h4 a:active {
    background-image: url(../img/s1-btn2.png);
}

.s2 {
    background-image: url(../img/s2-bg.png);
}
.s2 header {
    position: absolute;
    z-index: 10;
    width: auto;
    margin: 5% 0 0 10%;
}
.s2 header a {
    display: inline-block;
    font-weight: bold;
    width: 4.5em;
    height: 2.5em;
}

.s2 figure {
    position: absolute;
    width: 79.8%;
    padding-bottom: 121.6%;
    top: 50%;
    margin: -67.5% 0 0 10.1%;
}
.s2 figure p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.s2 figure .title {
    background-image: url(../img/title.png);
    z-index: 1;
}
.s2 figure .bg { z-index: 2; }
.s2 figure .animal { z-index: 3; }
.s2 figure .organ { z-index: 4; }
.s2 figure .person { z-index: 5; }
.s2 footer {
    top: 50%;
    margin-top: 58%;
    padding: 0 10.1%;
}
.s2 footer h3 {
    float: right;
    margin-top: 0.25em;
}
.s2 footer h3 a {
    display: block;
    text-align: center;
    overflow: hidden;
    width: 3.6em;
    height: 3.8em;
    background-image: url(../img/s2-btn.png);
}
.s2 footer ol {
    position: absolute;
    white-space: nowrap;
    height: 5.9em;
}
.s2 footer ol li {
    position: relative;
    counter-increment: num 1;
    list-style: none;
    display: inline-block;
    width: 3.15em;
    padding-top: 3.7em;
    background-position: top;
    /*border-radius: 100%;*/
    margin-right: 0.9em;
}
.s2 footer ol li:last-child { margin-right: 0; }
.s2 footer ol li:nth-child(1):after { content: '背景'; }
.s2 footer ol li:nth-child(2):after { content: '动物'; }
.s2 footer ol li:nth-child(3):after { content: '器官'; }
.s2 footer ol li:nth-child(4):after { content: '人物'; }
.s2 footer ol li:after { 
    font-family: microsoft yahei;
    position: absolute;
    left: 10%;
    width: 80%;
    font-size: 0.8em;
    line-height: 1em;
    height: 1.2em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0.6em;
 }
.s2 ol.selected li {
    display: none;
}
.s2 ol.selected li.curr {
    display: block;
}
.s2 footer ul {
    white-space: nowrap;
    height: 5.5em;
}
.s2 footer ul li {
    position: relative;
    counter-increment: num 1;
    list-style: none;
    display: inline-block;
    width: 3em;
    padding-top: 2.9em;
    margin-top: 0.33em;
    background-size: auto 100%;
    background-position: center;
}
.s2 footer menu {
    position: relative;
    margin: 0 4em 0 3.5em;
    overflow: hidden;
}
.s2 footer menu>div {
    display: inline-block;
}


.s3 {
    background: #52DBC7;
}
.s3 center {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3A3091;
    z-index: 10;
}
.s3 center img {
    position: absolute;
    width: 20%;
    top: 50%;
    margin: -20% 0 0 -10%;
    -webkit-animation: roundLoop1 0.5s linear infinite both;
}
.s3 center h6 {
    position: absolute;
    top: 50%;
    width: 8em;
    text-align: left;
    color: #fff;
    margin: 7% 0 0 42%;
}
.s3 center h6 q {
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    text-align: left;
    margin-left: 0.1em;
}
.s3 center h6 span {
    -webkit-animation: ani-load1 0.8s linear infinite both;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.s3 figure {
    position: absolute;
    width: 79.8%;
    padding-bottom: 121.6%;
    top: 50%;
    margin: -67.5% 0 0 10.1%;
    background-color: #fff;
}
.s3 figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.s3 footer {
    top: 50%;
    margin-top: 58%;
    padding: 0 10.1%;
}
.s3 footer a {
    position: relative;
    display: inline-block;
    width: 15%;
    padding-top: 3.5em;
}
.s3 footer a:after {
    position: absolute;
    width: 6em;
    height: 1em;
    left: -0.45em;
    color: #3C2E8C;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.3em;
}
.s3 footer a.btn1:after { content: '返回编辑'; }
.s3 footer a.btn2:after { content: '找按保存'; }
.s3 footer a.btn3:after { content: '发送分享'; }
.s3 footer a.btn1 { margin-left: 7.5%; background: url(../img/return.png) no-repeat; background-size: 100% auto;}
.s3 footer a.btn2 { margin-left: 19%; background: url(../img/save.png) no-repeat; background-size: 100% auto;}
.s3 footer a.btn3 { margin-left: 18%; background: url(../img/share.png) no-repeat; background-size: 100% auto;}
.share {
    background: #3A3091;
}
.share header {
    position: absolute;
    z-index: 10;
    width: auto;
    margin: 5% 0 0 5%;
}
.share header a {
    display: inline-block;
    font-weight: bold;
    padding: 0 0.5em 1em 0;
}
.share header a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 4em;
    font-weight: 2000;
    width: 0.8em;
    height: 0.8em;
    margin: -0.15em 0.1em 0 0;
    background: url(../img/back.png) no-repeat 0 80%;
    background-size: 100% auto;
}
.share center {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/share1.png);
    background-position: center;
}







/*动画*/
@-webkit-keyframes ani-load1{
    0%{ width: 0;}
    100%{ width: 100%;}
}
@-webkit-keyframes ani-load2{
    0%{ transform: translateY(-1.5%);}
    50%{ transform: translateY(1.5%);}
    100%{ transform: translateY(-1.5%);}
}
@-webkit-keyframes roundLoop1{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}